.container {
    margin-top: 20px;
  }
  
  .drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .upload-text {
    color: #333;
  }
  
  .upload-text p {
    margin-bottom: 10px;
  }
  
  .input-label {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .input-label:hover {
    background-color: #0056b3;
  }
  
  .image-preview {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .change-image-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .change-image-button:hover {
    background-color: #0056b3;
  }
  
  .download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  
  .compressed-image {
    margin-top: 20px;
  }
  